<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <ul type="none">
      <li><a routerLink='' mat-button routerLinkActive="mat-accent">Projects</a></li>
      <li><a routerLink='create' mat-button routerLinkActive="mat-accent">Create Post</a></li>
      <li><a routerLink='/post' mat-button routerLinkActive="mat-accent">User Details</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="warn">
      Devlogger Project
      <mat-icon aria-label="Example home icon" (click)="sidenav.toggle()">
        home
      </mat-icon>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

