<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      DevLogger Project
    </mat-panel-title>
    <mat-panel-description>
      About Devlogger
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>This Project is build on MEAN Stack(Mongodb, Express JS, Angular JS, Node JS).</p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      News Application
    </mat-panel-title>
    <mat-panel-description>
      About News App
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>This Project is build on MEAN Stack(Mongodb, Express JS, Angular JS, Node JS).
    Deals with the news across world.
    Multiple News platformm are integrated in one place for you.
  </p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      The Messanger Application
    </mat-panel-title>
    <mat-panel-description>
      About Messanger Application
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>This Project is build on MEAN Stack(Mongodb, Express JS, Angular JS, Node JS).
    Easy Platform to communicate with your friends.
    Multiple Friends Group is supported in this project.
  </p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Task Scheduler
    </mat-panel-title>
    <mat-panel-description>
      About Task Scheduler Application
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>This Project is build on MEAN Stack(Mongodb, Express JS, Angular JS, Node JS).
    It will notify your Scheduled tasks.
    You have to set your tasks Manually.
  </p>
</mat-expansion-panel>
