<mat-expansion-panel *ngFor="let p of project">
  <mat-expansion-panel-header >
    <mat-panel-title>
      {{p.p_name}}
    </mat-panel-title>
    <mat-panel-description>
      {{p.content}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <span *ngFor="let pd of p.postdetails">
    <p>{{pd.title}}</p>
    <p>{{pd.content}}</p>
  </span>
</mat-expansion-panel>

<br />
<hr>
<!-- <p>project works!</p>
<ul class="quotes" *ngFor="let p of project" >
  <li class="quote">
    <span>{{p.p_name}}</span>
    <span *ngFor="let pd of p.postdetails">
      <p>{{pd.title}}</p>
      <p>{{pd.content}}</p>
    </span>
  </li>
</ul> -->
