.toolbar {
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
.side {
  text-align: center;
  background: #eee;
  width: 220px;
}
ul {
  padding-left: 0;
  padding-right: 0;
}

a, a:link {
  color: #000;
  text-decoration: none;
  display: block;
  width: 219px;
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.main {
  padding: 30px 80px;
}
